---
layout: default
---

<div class="home">

  <table class="layout">
  <tr><td class="layout">
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%b %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </td>

  <td class="layout col2">
  {% assign categories = "Software|(Once Upon A Time I Played The) Guitar" | split: "|" %}
  {% for cat in categories %}
    <h1 class="page-heading">{{ cat }}</h1>
    <ul class="post-list">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.location == "main-area" and my_page.category == cat %}
            <a class="page-entry" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </ul>
    <br>
  {% endfor %}
  </td></tr></table>

</div>
