<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
              <img alt="Creative Commons License" style="border-width:0"
                   src="/images/common/cc-by-sa.png" /></a>
          </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://github.com/tomszilagyi">github</a> |
        <a href="https://se.linkedin.com/in/tomszilagyi">linkedin</a> |
        <s>flickr</s> |
        <a href="https://youtube.com/tomszilagyi">youtube</a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
